<article>
  <header>
    <h2>{{number}}</h2>
    <h1>{{header}}</h1>
    <p>{{body}}</p>
    <ul>
      {{#each decision_points}}
      <li>{{text}}</li>
      {{/each}}
    </ul>

    <p>Undertecknat:</p>
    <ul>
      {{#each authors}}
      <li>{{name}}</li>
      {{/each}}
    </ul>
  </header>
</article>
